<html>
    <head>
        <title>new project</title>
        <link rel="stylesheet" href="...../css">
    </head>
    <body>
        <h2 class ="head1">{{title}}</h2>
        <div class="header1">
            <a href="/">Home</a>
            <a href="/team">Team</a>
            <a href="/service">Service</a>

        </div>
    </body>
</html>